.box_banner_ranking {
    width: 100%;
    /* height: 45.7em; */
    max-height: 70em;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    /* background-color: red; */
}

.intro_title {
    width: 100%;
    height: 4em;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner_section_white_title {
    font-weight: 800;
    font-size: 22px;
    color: #383838;
    height: 1.3em;
}

.cards_area {
    width: 100%;
    /* height: 41.7em; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: greenyellow; */
}